@model string

@{
    ViewBag.Title = "Home Page";
}

<br/>
<div class="row"><div class="col-sm-12 well"><strong>Test Cases as per the requirement document</strong></div></div>
<br/>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><strong>Scenario A</strong></div>
            <div class="panel-body">
                <strong>1 * A = 50<br/>1 * B = 30<br/>1 * C = 20<br/>Total 100</strong>
                <br/>
                <a href="@Url.Action("Test", "Home", new { scenario = "A" })">Click Here To Test</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><strong>Scenario B</strong></div>
            <div class="panel-body">
                <strong>5 * A = 130 + 2 * 50<br />5 * B = 45 + 45 + 30<br />1 * C = 20<br />Total 370</strong>
                <br />
                <a href="@Url.Action("Test", "Home", new { scenario = "B" })">Click Here To Test</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><strong>Scenario C</strong></div>
            <div class="panel-body">
                <strong>3 * A = 130<br />5 * B = 45 + 45 + 1 * 30<br />1 * C = - <br />1 * D = 30<br />Total 280</strong>
                <br />
                <a href="@Url.Action("Test", "Home", new { scenario = "C" })">Click Here To Test</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <strong>Test Result : @Model</strong>
</div>