@model  SkuManager.FrameWorkModels.UI.Sku.SkuIndexViewModel
@using System.Collections.Generic

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading"><strong>SKU List</strong></div>
    <div class="panel-body">
        @if(Model.SkuList != null && Model.SkuList.Count > 0)
        {

        }
    </div>
</div>

