<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SKUEntities" connectionString="metadata=res://*/SKU.csdl|res://*/SKU.ssdl|res://*/SKU.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=SKU;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SKUCS" connectionString="server=.;database=SKU;Integrated Security=SSPI;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>